{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

<body data-turbo="false" class="page-color-style-6 page-style-6">

    <header class="header type-2 header-style-5 scrol">
      <div class="navigation flex-align">   
         <a href="{{path('app_home')}}" class="logo">
          <img src="img/logo.png" alt="logo emotion caviar" class="logo-type-2">
          <h1 class="text-logo">Emotion Caviar</h1>
         </a>
          <div class="burger-menu"><i></i></div>
           <div class="nav">
            <div class="nav-align-wrap">
            <div class="right-block">
                <div class="search">
                  <div class="search-popup">
                      <div class="container"> 
                      <div class="page-span-4 page-span"></div>
                      <div class="search-form-wrap"> 
                      
                       <form action="#" class="search-form">
                           <input type="text" placeholder="Search for..." class="input-search" required>
                           <div class="submit-search">
                              <input type="submit" value="">
                              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"  x="0px" y="0px" viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve" width="14px" height="14px">
                                    <path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" fill="#FFFFFF"/><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
                               </svg> 
                           </div>                           
                       </form>
                       </div>
                       <div class="close-search">
                           <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 21.9 21.9" enable-background="new 0 0 21.9 21.9" width="14px" height="14px">
                              <path d="M14.1,11.3c-0.2-0.2-0.2-0.5,0-0.7l7.5-7.5c0.2-0.2,0.3-0.5,0.3-0.7s-0.1-0.5-0.3-0.7l-1.4-1.4C20,0.1,19.7,0,19.5,0  c-0.3,0-0.5,0.1-0.7,0.3l-7.5,7.5c-0.2,0.2-0.5,0.2-0.7,0L3.1,0.3C2.9,0.1,2.6,0,2.4,0S1.9,0.1,1.7,0.3L0.3,1.7C0.1,1.9,0,2.2,0,2.4  s0.1,0.5,0.3,0.7l7.5,7.5c0.2,0.2,0.2,0.5,0,0.7l-7.5,7.5C0.1,19,0,19.3,0,19.5s0.1,0.5,0.3,0.7l1.4,1.4c0.2,0.2,0.5,0.3,0.7,0.3  s0.5-0.1,0.7-0.3l7.5-7.5c0.2-0.2,0.5-0.2,0.7,0l7.5,7.5c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3l1.4-1.4c0.2-0.2,0.3-0.5,0.3-0.7  s-0.1-0.5-0.3-0.7L14.1,11.3z" fill="#FFFFFF"/>
                            </svg>
                       </div>
                      </div>         
                  </div>
   
                </div>
    
            </div>
            <nav>
              <ul class="header-menu">
                    <li class="active" id="modal-user"><a style="font-size:24px;" href="{{ path('app_register')}}">S'enregistrer<img src="img/down-arrow.png" alt="" class="menu-arr"></a>
                    </li>
                    <li id="modal-distributor"><a style="font-size:24px;" href="{{ path('app_register_distributor')}}">Devenir distributeur<img src="img/down-arrow.png" alt="" class="menu-arr"></a>
                    </li>
                    <li><a href="{{ path('app_home')}}">Retour<img src="img/down-arrow.png" alt="" class="menu-arr"></a>
                    </li>
                </ul>
            </nav>
            </div>
           </div>    
        </div>
    </header> 

    <section style="padding:50px;" class="section">
      <div class="empty-lg-115 empty-md-100 empty-sm-60 empty-xs-60"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-xs-12">

              <div style="padding-top:20px;" class="main-caption text-center color-type-2">
                <h2 class="h2">S'enregistrer</h2>
                <div class="empty-sm-55 empty-xs-25"></div>
                <div id="form-user">
                  {% include 'partials/_registerForm.html.twig' with {'registrationForm': registrationForm} %}
                </div>
              </div>
<!--
              <div style="padding-top:20px;" class="main-caption text-center color-type-2">
                <h2 class="h2">Devenir distributeur</h2>
                <div class="empty-sm-55 empty-xs-25"></div>
                <div id="form-distributor">
                  form distributor
                </div>
              </div> -->
            </div>
        </div>
      <div class="empty-lg-100 empty-md-100 empty-sm-60 empty-xs-60"></div>
    </section>

</body>

{% endblock %}
