{% extends 'baseAdmin.html.twig' %}

{% block title %}New AccessoriesProduct{% endblock %}

{% block body %}

    <div class="my-3 p-3 bg-body rounded shadow-sm">

        <h6 class="border-bottom pb-2 mb-0">Create new AccessoriesProduct</h6>

        {{ include('accessories_product/_form.html.twig') }}

        <a href="{{ path('accessories_product_index') }}">back to list</a>

    </div>
{% endblock %}
