{% extends 'baseAdmin.html.twig' %}

{% block title %}New CaviarProduct{% endblock %}

{% block body %}
    <h1>Create new CaviarProduct</h1>

    {{ include('caviar_product/_form.html.twig') }}

    <a href="{{ path('caviar_product_index') }}">back to list</a>
{% endblock %}
