<!DOCTYPE html>
<html lang="fr">
    <head>

        {% block javascripts %}
        
            <script src="{{'tarteaucitron/tarteaucitron.js'}}" type="text/javascript"></script>
            <script>
            tarteaucitron.init({
                "privacyUrl": "", /* Privacy policy url */

                "hashtag": "#tarteaucitron", /* Open the panel with this hashtag */
                "cookieName": "tarteaucitron", /* Cookie name */

                "orientation": "middle", /* Banner position (top - bottom - middle - popup) */

                "groupServices": false, /* Group services by category */

                "showAlertSmall": false, /* Show the small banner on bottom right */
                "cookieslist": false, /* Show the cookie list */
                
                "showIcon": true, /* Show cookie icon to manage cookies */
                // "iconSrc": "", /* Optionnal: URL or base64 encoded image */
                "iconPosition": "BottomRight", /* Position of the icon between BottomRight, BottomLeft, TopRight and TopLeft */

                "adblocker": false, /* Show a Warning if an adblocker is detected */

                "DenyAllCta" : true, /* Show the deny all button */
                "AcceptAllCta" : true, /* Show the accept all button when highPrivacy on */
                "highPrivacy": true, /* HIGHLY RECOMMANDED Disable auto consent */

                "handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */

                "removeCredit": false, /* Remove credit link */
                "moreInfoLink": true, /* Show more info link */
                "useExternalCss": false, /* If false, the tarteaucitron.css file will be loaded */

                //"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for subdomain website */

                "readmoreLink": "", /* Change the default readmore link pointing to tarteaucitron.io */
                
                "mandatory": true /* Show a message about mandatory cookies */
            });

            (tarteaucitron.job = tarteaucitron.job || []).push('facebook');
            </script>

            {{ encore_entry_script_tags('app') }}
            
        {% endblock %}

        <meta charset="UTF-8">
        <meta property="og:url"           content="{{ url('app_home') }}" />
        <meta property="og:type"          content="website" />
        <meta property="og:title"         content="Emotion Caviar" />
        <meta property="og:description"   content="Emotion Caviar est le caviar exclusif italien qui représente l’excellence en matière de caviar d’élevage 100 % Made in Italy" />
        <meta property="og:image"         content="https://www.vazvieirafrederic.fr/Beluga.png"/>
        <meta property="og:image:secure_url" content="https://www.vazvieirafrederic.fr/img/Beluga-mini.png" /> 
        <meta property="og:image:type" content="image/png" /> 
        <meta property="og:image:width" content="400" /> 
        <meta property="og:image:height" content="300" />

        <title>{% block title %}Welcome!{% endblock %}</title>
    
        {% block stylesheets %}
            <style id="dynamic-css">
            .preloader {position: fixed;left: 0;top: 0;width: 100%;height: 100%;background: #fff;text-align: center;z-index: 6001; }
            .preloader:after { content: ""; height: 100%; display: inline-block; vertical-align: middle; }
            .sk-cube-grid {width: 3.857rem;height: 3.857rem;margin: 0 auto;vertical-align: middle;display: inline-block; }
            .sk-cube-grid .sk-cube {width: 33%;height: 33%;background-color: #333;float: left;-webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; }
            .sk-cube-grid .sk-cube1 {
                -webkit-animation-delay: 0.2s;
                animation-delay: 0.2s; }
            .sk-cube-grid .sk-cube2 {
                -webkit-animation-delay: 0.3s;
                animation-delay: 0.3s; }
            .sk-cube-grid .sk-cube3 {
                -webkit-animation-delay: 0.4s;
                animation-delay: 0.4s; }
            .sk-cube-grid .sk-cube4 {
                -webkit-animation-delay: 0.1s;
                animation-delay: 0.1s; }
            .sk-cube-grid .sk-cube5 {
                -webkit-animation-delay: 0.2s;
                animation-delay: 0.2s; }
            .sk-cube-grid .sk-cube6 {
                -webkit-animation-delay: 0.3s;
                animation-delay: 0.3s; }
            .sk-cube-grid .sk-cube7 {
                -webkit-animation-delay: 0s;
                animation-delay: 0s; }
            .sk-cube-grid .sk-cube8 {
                -webkit-animation-delay: 0.1s;
                animation-delay: 0.1s; }
            .sk-cube-grid .sk-cube9 {
                -webkit-animation-delay: 0.2s;
                animation-delay: 0.2s; }
            @-webkit-keyframes sk-cubeGridScaleDelay {
                0%, 70%, 100% {
                -webkit-transform: scale3D(1, 1, 1);
                transform: scale3D(1, 1, 1); }
                35% {
                -webkit-transform: scale3D(0, 0, 1);
                transform: scale3D(0, 0, 1); } }
            @keyframes sk-cubeGridScaleDelay {
                0%, 70%, 100% {
                -webkit-transform: scale3D(1, 1, 1);
                transform: scale3D(1, 1, 1); }
                35% {
                -webkit-transform: scale3D(0, 0, 1);
                transform: scale3D(0, 0, 1); } }
            </style>
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://js.stripe.com/v3/" defer></script>
    </head>
    
        {% block body %}{% endblock %}
        
</html>
