{% extends 'baseAdmin.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}

<div class="my-3 p-3 bg-body rounded shadow-sm">

    <h6 class="border-bottom pb-2 mb-0">Edit User</h6>
    

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('user_index') }}">back to list</a>

    {{ include('user/_delete_form.html.twig') }}

</div>
{% endblock %}
